.blog-item {
  display: flex;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;

  @media (max-width: $desktop-breakpoint) {
    justify-content: center;
    margin-bottom: 46px;
  }

  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }
}

.blog-item__text-wrapper {
  flex-shrink: 0;
  width: 285px;
  max-height: 300px;
  padding: 67px 60px;
  background-color: $blog-item-back;

  @media (max-width: $desktop-breakpoint) {
    width: 339px;
    padding: 67px 85px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 290px;
    height: 256px;
    margin-top: -3px;
    padding: 45px 60px;
  }
}

.blog-item__text-wrapper p {
  margin: 0 0 13px 0;

  @include font_poppins(14px, 18px, 500, $font-dark-grey);
}

.blog-item__text-wrapper h3 {
  margin: 0 0 37px 0;

  @include font_cormorant(26px, 34px, 600, $font-basic-dark);
}

.blog-item__text-wrapper a {
  margin: 0 0 10px 0;

  @include font_poppins(16px, 21px, 500, $font-dark);
  @include link-underline_border;
}


.blog-item img {
  width: 285px;
  height: 300px;

  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 339px;
  }

  @media (max-width: $tablet-breakpoint) {
    order: -1;
    width: 290px;
    height: 256px;
  }
}

.blog-item:nth-child(2n + 1) .blog-item__img {
  order: -1;
}

.blog-item:nth-child(n) .blog-item__img {
  @media (max-width: $tablet-breakpoint) {
    order: -1;
  }
}


.blog-item--large {
  position: relative;
  min-height: 630px;

  @media (max-width: $desktop-breakpoint) {
    position: static;
    min-height: 300px;
  }
}

.blog-item--large img {
  width: 570px;
  height: 630px;


  @media (max-width: $desktop-breakpoint) {
    width: 339px;
    height: 300px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 290px;
    height: 256px;
  }
}

.blog-item--large .blog-item__text-wrapper {
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 285px;
  height: 300px;

  @media (max-width: $desktop-breakpoint) {
    position: static;

    width: 339px;
    max-height: 300px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 290px;
    height: 256px;
  }
}

.blog-item a[href]:hover,
.blog-item a[href]:focus {
  outline: 2px solid $hover-outline;
  outline-offset: $hover-outline-offset;
}

.blog-item a[href]:active {
  opacity: $header-element-active-opacity;
}
