.burger-btn {
  display: none;
  width: 25px;
  height: 18px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;

  @media (max-width: $desktop-breakpoint) {
    display: block;
  }
}

.burger-btn--js:hover {
  cursor: pointer;
}

.burger-btn--js svg {
  @media (max-width: $desktop-breakpoint) {
    display: block;
    width: 25px;
    height: 18px;

    stroke: $header-icon-color;
  }
}

.burger-btn--menu svg {
  @media (max-width: $desktop-breakpoint) {
    stroke: $header-icon-color-menu;
  }
}
