.faq__wrapper {
  padding: 29px 100px 42px 100px;

  @media (max-width: $desktop-breakpoint) {
    padding: 8px 0 23px 0;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 8px 0 14px 0;
  }
}

.faq__head {
  margin-bottom: 24px;
  padding: 0 10px;
  overflow: hidden;
  text-align: center;

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 24px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 4px;
  }
}

.faq__head h2 {
  margin: 0 0 24px 0;
  letter-spacing: 1px;
}

.faq__head a {
  display: inline-block;
  margin: 0 0 20px 0;
  vertical-align: top;
}
