.filter-point {
  margin-top: 14px;
  margin-bottom: 2px;

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: -4px;
  }
}

.filter-point__input input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-point__input label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 10px;
  cursor: pointer;

  @include font_poppins(14px, 18px, 500, $font-dark);

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 21px;
  }

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid $filter-border;

    @media (max-width: $desktop-breakpoint) {
      width: 18px;
      height: 18px;
    }
  }
}

.filter-point__input:hover label::before {
  outline: 2px solid $hover-outline;
  outline-offset: 1 * $hover-outline-offset;
}

.filter-point__input:active label::before {
  opacity: $header-element-active-opacity;
}

.filter-point__input input[type="checkbox"]:checked + label::before {
  background-color: $filter-btn;
}

.filter-point__input input[type="checkbox"]:focus + label::before {
  outline: 2px solid $hover-outline;
  outline-offset: 1 * $hover-outline-offset;
}

.filter-field input {
  border: none;
  border-radius: 0;
}
