.filter-field {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  padding: 13px 25px 13px 25px;

  border: 1px solid $fade-sienna;

  @media (max-width: $desktop-breakpoint) {
    padding: 24px 40px 22px 22px;

    border-top: none;
    border-right: none;
    border-left: none;
  }


  @media (max-width: $tablet-breakpoint) {
    padding: 13px 20px 15px 20px;
  }
}

.filter-field:nth-child(n + 2) {
  border: none;
  border-right: 1px solid $fade-sienna;
  border-bottom: 1px solid $fade-sienna;
  border-left: 1px solid $fade-sienna;

  @media (max-width: $desktop-breakpoint) {
    border-right: none;
    border-left: none;
  }
}

.filter-field--closed svg {
  transform: rotate(-180deg);
}


.filter-field--closed .filter-field__point {
  display: none;
}

.filter-field__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include font_poppins(16px, 21px, 500, $dark-1d);

  @media (max-width: $desktop-breakpoint) {
    font-size: 18px;
    line-height: 23px;
  }
}

.filter-field__toggle:hover,
.filter-field__toggle:focus {
  outline: 2px solid $fade-sienna;
  outline-offset: 4px;
}

.filter-field__toggle:active {
  opacity: 0.6;
}

.filter-field__toggle svg {
  width: 15px;
  height: 8px;

  fill: none;
  stroke: $fade-sienna;

  @media (max-width: $desktop-breakpoint) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 20px;
    height: 10px;
  }
}
