
.filter {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  width: 250px;
  margin-left: 30px;
  background-color: $basic-light;

  @media (max-width: $desktop-breakpoint) {
    display: none;
    width: 423px;
    margin-left: 0;
    padding-bottom: 38px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 270px;
    padding-bottom: 28px;
  }
}

.filter__form {
  display: flex;
  flex-direction: column;
}

.filter__close {
  display: none;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  @media (max-width: $desktop-breakpoint) {
    position: absolute;
    top: -16px;
    right: -16px;
    display: block;
  }

  @media (max-width: $tablet-breakpoint) {
    top: -17px;
    right: -10px;
  }
}

.filter__close svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: $basic-light;
}

.filter__btns {
  display: flex;
  flex-direction: column;

  @media (max-width: $desktop-breakpoint) {
    padding: 0 20px;
  }
}

.filter__btn {
  padding: 24px 25px;
}

.filter__btn--submit {
  margin-top: 34px;
  background-color: $fade-sienna;
  border: none;

  @include font_poppins(16px, 21px, 500, $basic-light);

  @media (max-width: $desktop-breakpoint) {
    margin-top: 38px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-top: 28px;
  }
}

.filter__btn--submit:hover,
.filter__btn--submit:focus {
  outline: 2px solid $basic-light;
  outline-offset: -12px;
}

.filter__btn--submit:active {
  opacity: 0.6;
}

.filter__btn--reset {
  margin-top: 23px;
  background-color: transparent;
  border: 1px solid $fade-sienna;

  @include font_poppins(16px, 21px, 500, $dark-1d);


  @media (max-width: $tablet-breakpoint) {
    margin-top: 19px;
  }
}

.filter__btn--reset:hover,
.filter__btn--reset:focus {
  outline: 2px solid $fade-sienna;
  outline-offset: -12px;
}

.filter__btn--reset:active {
  opacity: 0.6;
}

.filter button {
  cursor: pointer;
}

.filter--opened {
  @media (max-width: $desktop-breakpoint) {
    position: absolute;
    top: -20px;
    left: 50%;
    z-index: 2;
    display: block;
    transform: translateX(-50%);
    filter: drop-shadow(0 4px 4px $filter-shadow);
  }
}

.filter--page {
  display: none;

  @media (max-width: $desktop-breakpoint) {
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 4px 4px $filter-shadow);
  }
}
