.gallery-column-4 {
  align-items: flex-end;
  margin-right: 0;
  line-height: 0;
}

.gallery-column-4__item:first-child img {
  width: 230px;
  height: 230px;
  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 133px;
    height: 133px;
  }

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.gallery-column-4__item:nth-child(2n) img,
.gallery-column-4__item:nth-child(2n-1):not(:first-child) img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  margin-top: 34px;

  @media (max-width: $desktop-breakpoint) {
    width: 133px;
    height: 87px;
    margin-top: 21px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-top: 0;
  }
}
