.gallery-column-1 {
  margin-right: 27px;
  line-height: 0;

  @media (max-width: $desktop-breakpoint) {
    margin-right: 16px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-right: 24px;
  }
}

.gallery-column-1__item:first-child img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  margin-bottom: 34px;

  @media (max-width: $desktop-breakpoint) {
    width: 133px;
    height: 133px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 27px;
  }
}

.gallery-column-1__item:nth-child(2n) img,
.gallery-column-1__item:nth-child(2n-1):not(:first-child) img {
  width: 230px;
  height: 150px;
  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 133px;
    height: 87px;
  }
}
