.heading h2 {
  @include font_cormorant(34px, 44px, 700, $dark-1d);
}

.heading a {
  @include link-underline_border;
  @include font_poppins(16px, 21px, 500, $dark-1d);
}

.heading a[href]:hover,
.heading a[href]:focus {
  outline: 2px solid $fade-sienna;
  outline-offset: 4px;
}

.heading a[href]:active {
  opacity: 0.6;
}
