.header {
  &::after {
    content: "";
    position: absolute;
    top: 114px;
    width: 100%;
    height: 1px;
    background-color: $header-border;

    @media (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;

  @media (max-width: $desktop-breakpoint) {
    align-items: center;
    padding-bottom: 26px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-top: 19px;
    padding-bottom: 17px;
  }
}

.header__link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: $header-element-width;
  margin-top: -25px;

  @media (max-width: $desktop-breakpoint) {
    width: auto;
    margin-top: 0;
  }
}

.header__wrapper--page {
  justify-content: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--menu {
  @media (max-width: $desktop-breakpoint) {
    position: relative;

    background-color: $header-menu-back;
  }
}

.header button:hover,
.header button:focus,
.header input:hover,
.header input:focus,
.header a[href]:hover,
.header a[href]:focus {
  outline: 2px solid $hover-outline;
  outline-offset: $hover-outline-offset;
}

.header button:active,
.header input:active,
.header a[href]:active {
  opacity: $header-element-active-opacity;
}

.header--menu button:hover,
.header--menu button:focus,
.header--menu input:hover,
.header--menu input:focus,
.header--menu a[href]:hover,
.header--menu a[href]:focus {
  @media (max-width: $desktop-breakpoint) {
    outline: 2px solid $hover-outline-light;
    outline-offset: $hover-outline-offset;
  }
}
