.search-form {
  display: flex;
  align-items: center;
  width: $header-element-width;
  margin-top: -25px;
  border-radius: $search-form-border-radius;

  @media (max-width: $desktop-breakpoint) {
    position: absolute;
    top: 159px;
    display: none;
    width: $header-element-width-tab;
    background-color: $search-form-menu-back;
  }

  @media (max-width: $tablet-breakpoint) {
    top: 125px;
    width: $header-element-width-mob;
  }
}

.search-form label {
  position: absolute;

  @media (max-width: $desktop-breakpoint) {
    left: 12px;
  }
}

.search-form__icon {
  width: 14px;
  height: 14px;
  fill: $header-icon-color;

  @media (max-width: $desktop-breakpoint) {
    width: 16px;
    height: 16px;

    fill: $header-icon-color-menu;
  }
}

.search-form input {
  width: $search-form-width;
  padding: 12px 10px 12px 28px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: inherit;

  @include font_poppins(14px, 21px, 500, $font-dark);

  &::placeholder {
    @include font_poppins(14px, 21px, 500, $font-dark-grey);
  }

  @media (max-width: $desktop-breakpoint) {
    width: $search-form-tablet-width;
    padding: 10px 40px 10px 40px;

    &::placeholder {
      @include font_poppins(14px, 21px, 500, transparent);
    }
  }
}

.search-form--menu {
  z-index: 3;
  display: flex;
}
