.signup {
  flex-basis: 50%;
  padding: 0 84px 0 0;

  @media (max-width: $desktop-breakpoint) {
    flex-basis: 100%;
    padding: 0 0 40px 0;
  }
}

.signup h2 {
  margin: 0 0 9px 0;
  padding: 0;
  letter-spacing: 0.8px;

  @include font_cormorant(34px, 44px, 700, $font-basic-light);

  @media (max-width: $tablet-breakpoint) {
    margin: 0 0 13px 0;
    padding-right: 50px;
  }
}

.signup p {
  margin: 0 0 34px 0;
  padding: 0;

  @include font_poppins(16px, 21px, 400, $font-dark-grey);

  @media (max-width: $desktop-breakpoint) {
    margin: 0 0 35px 0;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-right: 50px;
  }
}

.signup__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0 4px 0;
  border-bottom: 1px solid $signup-form-border;

  @media (max-width: $desktop-breakpoint) {
    max-width: 560px;
    padding: 3px 0 3px 0;
  }
}

.signup__form label {
  width: 70%;

  @media (max-width: $tablet-breakpoint) {
    width: 60%;
  }
}

.signup__form input {
  width: 100%;
  padding: 5px 0;
  background-color: $signup-form-back;
  border: none;
  border-radius: 0;

  @include font_poppins(14px, 21px, 500, $font-basic-light);

  &::placeholder {
    @include font_poppins(14px, 21px, 500, $font-dark-grey);
  }
}

.signup__btn {
  display: flex;
  align-items: center;
  padding: 5px 0;
  background-color: $signup-form-back;
  border: none;

  @include font_poppins(16px, 21px, 500, $font-basic-light);

  &:hover {
    cursor: pointer;
  }
}

.signup__icon {
  width: 30px;
  height: 17px;
  margin-left: 12px;
  stroke: $signup-form-icon-color;
}
