.slider-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-page__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-right: calc((15 / 1366) * 100%);
  margin-bottom: 5px;
  margin-left: calc((15 / 1366) * 100%);

  @media (max-width: $desktop-breakpoint) {
    width: 206px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 130px;
    margin-bottom: 10px;
  }
}

.slider-page__item img {
  width: 270px;
  height: 272px;
  margin-bottom: 25px;
  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 130px;
    height: 136px;
    margin-bottom: 20px;
  }
}
