.slider-item {
  width: 270px;
  padding-bottom: 10px;

  @media (max-width: $desktop-breakpoint) {
    width: 324px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: calc((130 / 290) * 100%);
  }
}

.slider-item img {
  width: 270px;
  height: 284px;
  margin-bottom: 20px;
  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $tablet-breakpoint) {
    min-width: 130px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}

.slider-item h3 {
  margin: 0 0 8px 0;
  text-align: center;

  @include font_poppins(16px, 21px, 500, $font-dark);
}

.slider-item--second h3 {
  margin-left: 0;
}

.slider-item:focus,
.slider-item:hover {
  outline: 2px solid $hover-outline;
  outline-offset: -0.5 * $hover-outline-offset;
}

.slider-item__price {
  margin: 0 0 20px 0;
  text-align: center;

  @media (max-width: $tablet-breakpoint) {
    margin: 0 0 5px 0;
  }
}

.slider-item__price span {
  @include font_poppins(14px, 18px, 700, $font-dark);
}
