.slider-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-page__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((270 / 870) * 100%);
  height: auto;
  margin-right: calc((15 / 1366) * 100%);
  margin-bottom: 5px;
  margin-left: calc((15 / 1366) * 100%);

  @media (max-width: $desktop-breakpoint) {
    width: calc((206 / 678) * 100%);
  }

  @media (max-width: $tablet-breakpoint) {
    width: calc((130 / 290) * 100%);
    margin-bottom: 10px;
  }
}

.slider-page__item img {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $tablet-breakpoint) {
    min-width: 130px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
