
.swiper-pagination-bullet {
  display: inline-block;
  min-width: 21px;
  height: auto;
  vertical-align: top;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;

  @include font_poppins(16px, 21px, 500, $dark-grey);

  @media (max-width: $desktop-breakpoint) {
    min-width: 23px;
  }
}

.swiper-pagination-bullet-active {
  color: $dark-1d;
  border-radius: 0;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
  outline: 1px solid $fade-sienna;
  outline-offset: -2px;
}
