// Image resolutions
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;

// Block dimensions
$mobile_padding: 15px;
$tablet-padding: 45px;

:root {
  --mobile-padding: 15px;
  --tablet-padding: 45px;
}

// Breakpoints
$mobile-min-width: 320px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1023px;
$desktop-max-width: 1170px;

// Block widths
$navbar-max-width: 650px;
$header-element-width: 100%;
$header-element-width-tab: calc(100% - 2 * var(--tablet-padding));
$header-element-width-mob: calc(100% - 2 * var(--mobile-padding));
$search-form-border-radius: 21px;
$search-form-width: 80%;
$search-form-tablet-width: 100%;
$container-max-width: $desktop-max-width + 2 * $mobile_padding;
$slider-page__item-margin: 15px;
$catalog-wrapper-max-width: $desktop-max-width + 2 * $mobile_padding + 2 * $slider-page__item-margin;

// Basic colors
$basic-dark: #000000;
$basic-light: #ffffff;
$dark-1d: #1d1613;
$dark-grey: #9b9997;
$silver: #c4c4c4;
$light-grey: #f0eae4;
$extra-light-grey: #f6f5f4;
$dark-brown: #563f33;
$fade-sienna: #a87b62;

// Element colors
$logo-color: $fade-sienna;
$logo-color-menu: $basic-light;
$header-icon-color: $dark-1d;
$header-icon-color-menu: $basic-light;
$signup-form-icon-color: $basic-light;
$socials-icon-color: $basic-light;
$slider-icon: $fade-sienna;
$slider-btns-outline: $fade-sienna;
$accordion-icon: $fade-sienna;
$login-form-close-icon: $dark-1d;
$login-form-btn-back: $fade-sienna;
$filter-close-btn: $basic-light;

// Font colors
$font-basic-dark: $basic-dark;
$font-basic-light: $basic-light;
$font-dark: $dark-1d;
$font-dark-grey: $dark-grey;
$font-expanded-menu: rgba($font-basic-light, 0.75);

// Background colors
$body_back: $basic-light;
$header-menu-back: $fade-sienna;
$search-form-menu-back: rgba($basic-light, 0.15);
$footer-back: $basic-dark;
$signup-form-back: transparent;
$intro-back: rgba($dark-brown, 0.7);
$blog-item-back: $light-grey;
$login-back: $light-grey;
$modal-back: rgba($basic-dark, 0.8);
$filter-back: $basic-light;
$filter-btn: $fade-sienna;

// Border colors
$header-border: $extra-light-grey;
$signup-form-border: $basic-light;
$faq-list-border: $fade-sienna;
$login-input-border: $dark-1d;
$filter-border: $fade-sienna;
$filter-price-slider: $light-grey;

// Shadow colors
$intro-shadow: rgba($basic-dark, 0.25);
$filter-shadow: rgba($basic-dark, 0.25);

// Effects
$link-underline: $fade-sienna;
$link-underline-shift: 3px;
$hover-outline: $fade-sienna;
$hover-outline-light: $basic-light;
$hover-outline-offset: 4px;
$header-element-active-opacity: 0.6;
